<nb-card>
  <nb-card-body>
    <form (ngSubmit)="onSubmit()" class="form-inline">
      <div class="form-group">
        <label for="startTime">Start Time: </label>
        <input nbInput type="datetime-local" id="startTime" name="startTime" [(ngModel)]="startTime">
      </div>
      <div class="form-group">
        <label for="endTime">End Time:  </label>
        <input nbInput type="datetime-local" id="endTime" name="endTime" [(ngModel)]="endTime">
      </div>
      <div class="form-group">
        <button nbButton type="submit">Show Error Rates</button>
      </div>
    </form>
    <canvas #errorRatesChart width="400" height="200"></canvas>
  </nb-card-body>
</nb-card>
